/* Start Media Query */

/* *From 0 To Phone & Tablet * */
@media (max-width:767px) /* Screen 'Xs' */
{

  /* Start Navbar Collaps */

    .container > .navbar-header,
    .container-fluid > .navbar-header,
    .container > .navbar-collapse,
    .container-fluid > .navbar-collapse
    {
    	margin-right:0px;
      max-height:360px;
    	overflow:hidden;
    }

    .navbar-toggle
    {
      margin-right:0;
    }

    .testimonials ol li
    {
      width:65px;
      height:65px;
    }

    .testimonials ol li.active
    {
      width:80px;
      height:80px;
    }

    .price-box h2
    {
      font-size:23px;
    }

    .price-box ul
    {
      font-size:16px;
    }
    .about h1
    {
      font-size:28px;
    }

    .testimonials h2
    {
      font-size: 28px;
    }

    .price-table .h1
    {
      font-size:30px;
    }

    .our-team .team h2,
    .subscribe h2,
    .statistic h2
    {
      font-size:30px;
    }

    .contact-us .h1
    {
      font-size:30px;
    }

    .media-object
    {
      width:40px;
    }

    .footer .media .media-body
    {
      font-size:10px;
    }

    .footer .media .media-body h4
    {
      font-size:15px;
    }

    div.item p
    {
      font-size:15px;
    }

    .person-team:hover .social-lists
    {
      margin-top:-6em;
    }


/* Start Change Color */

  .option-box .color-option
  {
    width:127px;
  }

  .option-box .color-option ul li
  {
    margin-bottom:10px;
    width:25px;
    height:25px;
  }

  .option-box .gear-check
  {
    font-size:30px;
  }

  /* End Change Color */

/* Start Navbar */
  .navbar-nav > li > a
  {
    padding-top:10px;
    padding-bottom:10px;
  }

  .dropdown-menu > li > a
  {
    font-size:17px;
  }

  .navbar-inverse .navbar-nav .open .dropdown-menu .divider
  {
    background-color:#EEE;
  }
/* End Navbar */

/* Start Our-Price */
  .price-box:hover p
  {
  	-webkit-transform:scale(1.0) rotate(360deg);
  	-moz-transform:scale(1.0) rotate(360deg);
  	-o-transform:scale(1.0) rotate(360deg);
  	transform:scale(1.0) rotate(360deg);
  	-webkit-transition:all 0.7s ease;
  	-moz-transition:all 0.7s ease;
  	-o-transition:all 0.7s ease;
  	transition:all 0.7s ease;
  }
/* End Our-Price */

/* Start Our-Team */
  .our-team .team .person img
  {
    width:50%;
  }

  .person-team:hover .social-lists
  {
  margin-top: -5em;
  opacity:1;
  }
/* End Our-Team */

/* Start Subscribe */
  .subscribe .form-control
  {
    width:100%;
  }

  .subscribe form button
  {
  	margin-top:15px;
    width:100%;
  }
/* End Subscribe */

/* Start Copyright */
  .footer .copyright
  {
    background-color:#F35048;
    color:#EEE;
    padding:10px 0;
    margin-top:35px;
    font-size:14px;
  }
/* End Copyright */

/* Start Botton scroll */

  #scroll-top
  {
    font-size:25px;
    width:35px;
    height:35px;
  }

}

/* * Small Screen * */
@media (min-width:768px) and (max-width:991px) /* Screen 'SM' */
{

  /* Start Nav-collapse */

    .container > .navbar-header,
    .container-fluid > .navbar-header,
    .container > .navbar-collapse,
    .container-fluid > .navbar-collapse
    {
    	margin-right:30px;
    }

    .navbar-nav > li > a
    {
      margin-right:0px;
      font-size:13px;
      padding-left:5px;
      padding-right:5px;
    }


  /* Start Change Color */

    .option-box .color-option
    {
      width:127px;
    }

    .option-box .color-option ul li
    {
      margin-bottom:10px;
      width:25px;
      height:25px;
    }

    .option-box .gear-check
    {
      font-size:35px;
    }

    /* End Change Color */

  /* Start Our-Team */
    .our-team .team .person img
    {
      width:50%;
    }
  /* End Our-Team */

}

/* Medium Screen */
@media (min-width:992px) and (max-width:1199px) /* Screen 'Md' */
{

  /* Start Nav-collapse */

    .container > .navbar-header,
    .container-fluid > .navbar-header,
    .container > .navbar-collapse,
    .container-fluid > .navbar-collapse
    {
      margin-right:30px;
    }

    .navbar-nav > li > a
    {
      margin-right:-12px;
    }

  /* Start Nav-collapse */

    .container > .navbar-header,
    .container-fluid > .navbar-header,
    .container > .navbar-collapse,
    .container-fluid > .navbar-collapse
    {
      margin-right:30px;
      overflow:hidden;
    }


/* Start Change Color */

  .option-box .gear-check
  {
    font-size:35px;
  }

    /* End Change Color */

/* Start Carousal */
  .carousel-caption
  {
  	bottom:150px;
  }
}

/* Large Screen */
@media (min-width:1200px) /* Screen 'Lg' */
{
  /* Start Nav-collapse */

    .container > .navbar-header,
    .container-fluid > .navbar-header,
    .container > .navbar-collapse,
    .container-fluid > .navbar-collapse
    {
      margin-right:30px;
    }


}
/* End Media Query */
