/**** Start Default Theme ****/

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,
.option-box .gear-check,
.dropdown-menu > li > a:hover
{
	background-color:#17a0e4;
}
span.isa,
div.item h2,
.about h2,
.feat:hover span.glyphicon,
.price-table span,
.our-team .team h2 span,
.testimonials span
{
  color:#17a0e4;
}

.our-skills .info h3
{
	color:#17a0e4;
}


/***** End Default Theme *****/
